.bagan{
    width: 100%;
    height: auto;
}
 

.header{
    background-color: green;
    text-decoration: none;
    border-radius: 15px;
    font-size: 15px;
   padding: 35px 45px;
    top:75%;
    position: absolute;
   margin-top: -4px;
   height: 16px;
   width: 920px;
   padding-top:14px;
   
}
.first{
    color:white;
   margin-left: 5px;
  
   
}
